# Security (CRITICAL)
.env

# Virtual Environments
.venv/
venv/
ENV/

# Python Cache Clutter
__pycache__/
*.pyc
*.pyo

# IDE specific files (Cursor/VS Code/PyCharm)
.vscode/
.idea/

# Ignore personal dev notes
Development logs.docx

# Ignore database files
*.db

# PyInstaller Build Folders & Files
build/
dist/
*.spec
*.exe

# Microsoft Word Temp Files
~$*.docx